.progress {
    height: 20px;
    /* margin-bottom: 2px; */
    /* overflow: hidden; */
    /* background-color: #107aca; */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); */
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,.1); */
    width: 100%;
    border: 1px solid #ccc;
    position: relative;
}
.progress-bar {
    /* float: left; */
    /* width: 0; */
    height: 100%;
    /* font-size: 12px; */
    /* line-height: 20px; */
    /* color: #fff; */
    /* text-align: center; */
    background: #107aca;
    /* -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); */
    /* box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); */
    position: absolute;
    left: 0px;
    text-align: 0px;
    /*width:100% !important;*/
}

.leftAlign {
    float: right;
}

.seperator {
    border-right: 1px solid #ccc;
}

.browseDescWrap {
  display: table;
  height:  4em;
}
.browseDescWrap p {
  display:        table-cell;
  vertical-align: middle;
}

.browseAssets.ReactTabs__TabPanel--selected {
    padding-right: 0px;
    padding-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}