.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.TabContainer{
	width:100%;
}

.TabFullRow{
	width:98%;
	margin:5px auto;
	float:left;
}

.TabLeftRow{
	width:70%;
	float:left;
}

.TabRightRow{
	width:30%;
	float:left;
}

.UploadFilesTablabel{
	width:100%;
	font-weight:bold;
}

.UploadFilesTextBox{
	width : 100%;
	height: 30px;
   	border-radius: 3px;
}

.UploadFilesSelectBox{
	width : 100%;
	height: 30px;
	border-radius: 3px;
}

.UploadFilesTextArea{
	width : 100%;
	border-radius: 3px;
	resize: none;
}

/* Tab Component customization */
.react-tabs [role=tab]{
	position:static;
    padding:10px;
    margin:0px;
}
.ReactTabs.react-tabs {
    margin: 15px 0 15px 0;
}
.react-tabs [role=tablist] {
 	list-style: none;
    margin: 0 !important;
    padding: 0;
    border: 1px solid #d0d0d0;
}
.ReactTabs__Tab{
	display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 6px solid transparent;
    color: #565656;
    transition: .15s border-color;
    -webkit-transition: .15s border-color;
    -moz-transition: .15s border-color;
}

.ReactTabs__TabPanel--selected {
    padding: 15px;
    border: 1px solid #d0d0d0;
    border-top: none;
    margin: 0px;
}
.react-tabs [role=tab][aria-selected=true] {
    color:#565656;
    border-color:#FFFFFF !important;
    border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
    border-bottom:6px solid #107aca !important;
}